html, body {
  height: 100%
}

body {
  font-family: sans-serif;
}

.container {
  height: 100%
}

.form-section {
  height: 33%;
  min-height: 180px;
}

.request-response-output {
  box-sizing: border-box;
  height: 66%;
}
.request-section,
.response-section {
  display: inline-block;
  height: 100%;
  width: 50%;
}

.form-header,
.request-header,
.response-header {
  color: #474747;
  height: 50px;
  line-height: 50px;
}

.form-header {
  background-color: #9c9c9c;
}

.request-header {
  background-color: #81d232;
}

.response-header {
  background-color: #4d93e0;
}

.request-body,
.response-body {
  height: 100%;
}

.form-body {
  background-color: #f9f9f9;
}

.request-body {
  background-color: #f3fae9;
}

.response-body {
  background-color: #edf4fc;
}
